<div class="home__container">
  <app-card
  gameCover="assets/ac-cover.jpg"
  gameLabel="Digital + DLC"
  gamePrice="R$ 189,00"
  gameType="Digital | PSP"
  ></app-card>
  <app-card
  gameCover="assets/bt-1.jpg"
  gameLabel="Exclusivo"
  gamePrice="R$ 199,00"
  gameType=" Digital | PS3"
  ></app-card>
  <app-card
  gameCover="assets/bt-4.jpg"
  gameLabel="Exclusivo + DLC"
  gamePrice="R$ 399,00"
  gameType=" Digital | PS4"
  ></app-card>
  <app-card
  gameCover="assets/bt-5.jpg"
  gameLabel="Exclusivo + DLC"
  gamePrice="R$ 449,00"
  gameType=" Digital | PS5"
  ></app-card>
  <app-card
  gameCover="assets/bt-bad-company-2.jpg"
  gameLabel="Exclusivo"
  gamePrice="R$ 499,00"
  gameType=" Digital | PS5"
  ></app-card>
  <app-card
  gameCover="assets/bt-hardline.jpg"
  gameLabel="Exclusivo + DLC"
  gamePrice="R$ 499,00"
  gameType="Digital | PS5"
  ></app-card>
  <app-card
  gameCover="https://images.igdb.com/igdb/image/upload/t_cover_big_2x/co5s5v.jpg"
  gameLabel="Conteúdo Exclusivo"
  gamePrice="R$ 499,00"
  gameType="Digital | PS5"
  ></app-card>
</div>
